.main-dextboard{
    padding: 0 0 0 4.75rem;

    .main-dextboard-container{
        min-height: calc(100vh - 3.75rem);

        .page-header{
            .page-subtitle{
                letter-spacing: .125rem;
                color: #818ea3;
                font-size: .625rem;
            }
            .page-title{
                margin: 0;
                padding: 0;
                font-size: 1.625rem;
                letter-spacing: -1px;
                font-weight: 700;
                line-height: normal;
            }
            small{
                line-height: 12px;
                display: inline-block;
                font-size: 11px;
                font-weight: 300;
            }
            .card-burn{
                h3{
                    font-size: 1rem;
                    color: #00b8d8;
                    line-height: 20px;
                    font-weight: 400;

                    i{
                        margin-left: .8rem !important;
                    }
                }
            }
        }
        .box-home{
            position: relative;
        }
    }
    .text-muted{
        color: #868e96 !important;
    }
    small{
        font-size: 11px;
        font-weight: 300;
    }
}