.main-multiswap{
    padding: 0 0 0 4.75rem;

    a {
        color: #00b8d8;
    }
    a:hover{
        color: #0056b3;
        text-decoration: none;
    }
    .text-warning {
        color: #ffb400!important;
    }
        .header-hot-pairs{
            width: 100%;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            background-image: url(../images/block-bg.png);
            height: 35.25px;

            h4{
                font-size: 12px;
                width: 125px;
                border-right-width: 1px;
                border-right-style: solid;
                display: inline-block;
                line-height: 2rem;
            }
            .hot-pairs-title{
                width: 130px;
                text-align: center;

                .hots-info{
                    color: inherit;
                }
            }
            ul{
                display: inline-block;
                vertical-align: middle;
                list-style: none;
                font-size: 12px;
                width: calc(100% - 380px);
                height: 100%;

                .marquee-wrap{
                    overflow: hidden;
                    text-align: left;

                    marquee{
                        content: attr(data-marquee);
                        white-space: nowrap;
                        position: relative;
                        transform: translateX(-50%);
                        display: inline-block;
                        left: 50%;
                        -webkit-animation: 10s linear infinite movement-smooth;
                        animation: 10s linear infinite movement-smooth;
                        -webkit-animation-duration: 20s;
                        animation-duration: 20s;
                    }
                }

                li{
                    display: inline-block;

                    a.first{
                        text-decoration: none;
                        display: inline-block;
                        cursor: pointer;
                        font-weight: 700;
                        font-size: 14px;

                        span{
                            color: #d8bd23;
                        }
                        .badge{
                            padding: .375rem .5rem;
                            font-size: 75%;
                            font-weight: 500;
                            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
                            border-radius: .375rem;
                            box-shadow: 0 1px 1px rgba(0,0,0,.2)!important;
                            margin-left: 7px;
                        }
                    }
                    a{
                        span{
                            color: #787e94;
                        }
                    }
                }
            }
        }
        .main-multiswap-container{
            min-height: calc(100vh - 3.75rem);

            .page-header {
                .page-subtitle{
                    letter-spacing: .125rem;
                    color: #818ea3;
                    font-size: .625rem;
                }
                .page-title{
                    font-size: 1.625rem;
                    margin: 0;
                    padding: 0;
                    letter-spacing: -1px;
                    font-weight: 700;
                    line-height: normal;
                }
                .text-muted {
                    color: #868e96!important;
                }
                small{
                    line-height: 12px;
                    display: inline-block;
                    font-size: 11px;
                    font-weight: 300;
                }
                .card{
                    border-radius: .4rem;
                }
                .list-group:first-child{
                    border-top-width: 0;
                    border-top-left-radius: calc(.25rem - 1px);
                    border-top-right-radius: calc(.25rem - 1px);
                }
                .list-group:last-child{
                    border-bottom-width: 0;
                    border-bottom-right-radius: calc(.25rem - 1px);
                    border-bottom-left-radius: calc(.25rem - 1px);
                }
                .list-group-item{
                    border-color: #15192a!important;
                    background-color: #323852;

                    .custom-select{
                        height: 100%;
                        font-size: 13px;
                    }
                    input{
                        border-width: 1px;
                        border-style: solid;
                    }
                    input:focus{
                        border-color: #00b8d8;
                        box-shadow: 0 0.313rem 0.719rem rgba(0,123,255,.1), 0 0.156rem 0.125rem rgba(0,0,0,.06);
                    }
                    .input-group {
                        min-width: 7.5rem;

                        .btn-info{
                            min-width: 56px;
                            color: #fff;
                            border-color: #00b8d8;
                            background-color: #00b8d8;
                            box-shadow: none;
                        }
                        .btn-info:hover {
                            color: #fff;
                            background-color: #00a2bf;
                            border-color: #00a2bf;
                            box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,184,216,.25);
                        }
                    }
                }
                .list-group-item:first-child{
                    border-top-left-radius: .625rem;
                    border-top-right-radius: .625rem;
                }
                .list-group-item:last-child{
                    border-bottom-right-radius: .625rem;
                    border-bottom-left-radius: .625rem;
                }
            } 
            .no-card{
                height: calc(100vh - 13.75rem);
                display: flex;
                
                .no-card-txt-content{
                    padding: 0 .9375rem;
                    display: flex;
                    flex-flow: column;
                    margin: auto;
                    align-items: center;
                    text-align: center;

                    h2{
                        font-size: 2.441rem;
                        margin-bottom: .75rem;
                    }
                    h3{
                        font-size: 2rem;
                        letter-spacing: -1px;
                        font-weight: 700;
                        line-height: 30px;
                        margin: 0;
                    }
                    p{
                        margin-bottom: 1.75rem
                    }
                    .autocomplete-class{
                        position: relative;

                        .autocomplete-container{
                            position: relative;
                            overflow: visible;
                            border: none!important;
                            height: auto!important;
                            box-shadow: none!important;
                            width: 577.5px;

                            input{
                                width: 100%;
                                outline: 0;
                                font-weight: 300!important;
                                border-radius: .25rem!important;
                                box-shadow: none!important;
                                transition: box-shadow .25s cubic-bezier(.27,.01,.38,1.06),border .25s cubic-bezier(.27,.01,.38,1.06);
                                height: auto!important;
                                padding: .4375rem 35px .4375rem 40px!important;
                                font-size: .8125rem!important;
                                line-height: 1.5!important;
                                border-width: 1px;
                                border-style: solid;
                            }
                            .MuiAutocomplete-inputRoot{
                                padding: 0;
                            }
                            .MuiOutlinedInput-notchedOutline{
                                padding: 0 !important;
                            }
                            .MuiFormControl-root{
                                margin: 0;
                            }
                            .MuiOutlinedInput-notchedOutline{
                                border-color: transparent;
                            }
                            .MuiAutocomplete-clearIndicator{
                                vertical-align: middle;
                                top: 3px;
                                padding: 0;

                                svg{
                                    font-size: 22px;
                                }
                            }
                            .MuiAutocomplete-listbox{
                                box-shadow: none;
                                border: none;
                                margin: 0;
                                padding: 0;

                                ul{
                                    box-shadow: none;
                                    border: none;
                                }

                                li:hover{
                                    background-color: rgba(158,158,158,.18);
                                }
                            }
                            .MuiAutocomplete-popper{
                                box-shadow: none;
                                border: none;
                                margin: 0;
                                padding: 0;
                            }
                        }
                        i{
                            position: absolute;
                            font-size: 1.5rem;
                            top: .35rem;
                            left: 10px;
                            z-index: 999;
                        }
                    }
                }
            }
        }
}
.MuiAutocomplete-paper{
    box-shadow: none;
    border: none;
    margin: 0 !important;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
}