.main-poolexplorer{
    padding: 0 0 0 4.75rem;

    a {
        color: #00b8d8;
    }
    a:hover{
        color: #0056b3;
    }
        .header-hot-pairs{
            width: 100%;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            background-image: url(../images/block-bg.png);
            height: 35.25px;

            h4{
                font-size: 12px;
                width: 125px;
                border-right-width: 1px;
                border-right-style: solid;
                display: inline-block;
                line-height: 2rem;
            }
            .hot-pairs-title{
                width: 130px;
                text-align: center;

                .hots-info{
                    color: inherit;
                }
            }
            ul{
                display: inline-block;
                vertical-align: middle;
                list-style: none;
                font-size: 12px;
                width: calc(100% - 380px);
                height: 100%;

                .marquee-wrap{
                    overflow: hidden;
                    text-align: left;

                    marquee{
                        content: attr(data-marquee);
                        white-space: nowrap;
                        position: relative;
                        transform: translateX(-50%);
                        display: inline-block;
                        left: 50%;
                        -webkit-animation: 10s linear infinite movement-smooth;
                        animation: 10s linear infinite movement-smooth;
                        -webkit-animation-duration: 20s;
                        animation-duration: 20s;
                    }
                }

                li{
                    display: inline-block;

                    a.first{
                        text-decoration: none;
                        display: inline-block;
                        cursor: pointer;
                        font-weight: 700;
                        font-size: 14px;

                        span{
                            color: #d8bd23;
                        }
                        .badge{
                            padding: .375rem .5rem;
                            font-size: 75%;
                            font-weight: 500;
                            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
                            border-radius: .375rem;
                            box-shadow: 0 1px 1px rgba(0,0,0,.2)!important;
                            margin-left: 7px;
                        }
                    }
                    a{
                        span{
                            color: #787e94;
                        }
                    }
                }
            }
        }
        .main-poolexplorer-container{
            min-height: calc(100vh - 3.75rem);

            .page-header {
                .page-subtitle{
                    letter-spacing: .125rem;
                    color: #818ea3;
                    font-size: .625rem;
                }
                .page-title{
                    font-size: 1.625rem;
                    margin: 0;
                    padding: 0;
                    letter-spacing: -1px;
                    font-weight: 700;
                    line-height: normal;
                }
                .text-muted {
                    color: #868e96!important;
                }
                small{
                    line-height: 12px;
                    display: inline-block;
                    font-size: 11px;
                    font-weight: 300;
                }
                .card{
                    border-radius: .4rem;
                }
                .list-group:first-child{
                    border-top-width: 0;
                    border-top-left-radius: calc(.25rem - 1px);
                    border-top-right-radius: calc(.25rem - 1px);
                }
                .list-group:last-child{
                    border-bottom-width: 0;
                    border-bottom-right-radius: calc(.25rem - 1px);
                    border-bottom-left-radius: calc(.25rem - 1px);
                }
                .list-group-item{
                    border-color: #15192a!important;
                    background-color: #323852;

                    .custom-select{
                        height: 100%;
                        font-size: 13px;
                    }
                    input{
                        border-width: 1px;
                        border-style: solid;
                    }
                    input:focus{
                        border-color: #00b8d8;
                        box-shadow: 0 0.313rem 0.719rem rgba(0,123,255,.1), 0 0.156rem 0.125rem rgba(0,0,0,.06);
                    }
                }
                .list-group-item:first-child{
                    border-top-left-radius: .625rem;
                    border-top-right-radius: .625rem;
                }
                .list-group-item:last-child{
                    border-bottom-right-radius: .625rem;
                    border-bottom-left-radius: .625rem;
                }
            }
            .card-small{
                .card-header{
                    padding: 1rem;
                }
                .table{ 
                    margin: 0;

                    thead{
                        th{
                            border: none;
                            font-size: 13px;
                            font-weight: 700;
                            line-height: 1.5;
                            padding: .75rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            min-height: 38.5px;

                            a{
                                color: #00b8d8;
                            }
                            a:hover{
                                color: #0056b3;
                                text-decoration: none;
                            }
                        }
                    }
                    tbody{
                        td{
                            border-bottom-width: 1px;
                            border-bottom-style: solid;
                            padding: .5rem .65rem;
                            min-height: 35px;
                            border-top: none;
                            white-space: nowrap;

                            a{
                                margin-right: .5rem;

                                .pools-icon-warning{
                                    vertical-align: text-top;
                                    font-size: 1.6em;
                                }
                                img{
                                    width: 18px;
                                }
                                .icon-bg-white-rounded{
                                    border: 1px solid #fff;
                                    border-radius: 10px;
                                    background-color: #fff;
                                }
                            }
                            a:last-child{
                                margin-right: 0;
                            }
                            .badge{
                                padding: .375rem .5rem;
                                font-size: 75%;
                                font-weight: 500;
                                font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
                                border-radius: .375rem;
                                box-shadow: 0 1px 1px rgba(0,0,0,.2);
                            }
                            .badge-light{
                                color: #212529;
                            }
                            .badge-danger{
                                color: #ffffff;
                            }
                            .badge-secondary{
                                color: #ffffff;
                            }
                            .badge-success{
                                color: #ffffff;
                            }
                        }
                    }
                }
                .datatable-footer{
                    display: block;
                    width: 100%;
                    overflow: auto;
                    border-top: 1px solid rgba(0,0,0,.12);
                    font-size: 12px;
                    font-weight: 400;
                    color: inherit;

                    .datatable-footer-inner{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        white-space: nowrap;
                        height: 50px;

                        .page-count{
                            flex: 1 1 20%;
                            line-height: 50px;
                            height: 50px;
                            padding: 0 1.2rem;
                        }
                        .datatable-pager{
                            flex: 1 1 80%;
                            text-align: right;
                            margin: 0 10px;

                            .pager{
                                padding: 0;
                                margin: 0;
                                display: inline-block;
                                list-style: none;

                                li{
                                    vertical-align: middle;
                                    padding: 0;
                                    margin: 0;
                                    display: inline-block;
                                    list-style: none;
                                    outline: 0;

                                    a{
                                        height: 22px;
                                        min-width: 24px;
                                        line-height: 22px;
                                        padding: 0 6px;
                                        border-radius: 3px;
                                        margin: 6px 3px;
                                        text-align: center;
                                        text-decoration: none;
                                        vertical-align: bottom;
                                        outline: 0;
                                        cursor: pointer;
                                        display: inline-block;

                                        .datatable-icon-prev{
                                            font-size: 20px;
                                            line-height: 20px;
                                            padding: 0 3px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            } 
        }
}