footer{
    height: 3.75rem;
    padding: 0 0 0 5.75rem !important;
    display: flex !important;
    align-items: center;
}
footer .nav{
    font-size: .875rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
footer .nav i{
    vertical-align: text-top;
    padding: .5rem;
    font-size: 1.6em;
}
footer .copyright {
    color: #818ea3;
}
footer.bg-white{
    padding: 0 0 0 5.75rem !important;
}