body, html{
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    padding: 0 !important;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-thumb{ 
    border-radius: 20px;
    border: 3px solid; 
}
.table-responsive{
    height: 520px;
}
.tooltip.show {
    opacity: 1;
}
.tooltip{ 
    position: relative; 
    opacity: 1;
}
.tooltip-inner{
      border-width: 1px;
      border-style: solid;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
      border-radius: .4rem;
      font-size: .9rem;
      text-align: center;
      width: auto;
      padding: 0.6rem 1rem;
      line-height: 150%;
      font-weight: 400;
      opacity: 1;
}
a {
    color: #00b8d8;
}
a:hover {
    color: #0056b3;
}
.MuiDialog-paper{ 
    max-width: 500px !important;
    border-radius: .5rem !important;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1) !important;
    width: 500px;
}
.MuiDialogTitle-root{
    padding: 1.875rem 2.1875rem 0 !important;
    text-align: center;
    margin-bottom: 1rem !important;
    color: #ffffff;
}
.MuiDialogContent-root{
    padding: 0 2.1875rem !important;
    padding-bottom: 1.875rem !important;
}
.MuiDialogActions-root{
    padding: .9375rem 2.1875rem !important;
    border-top-width: 1px;
    border-top-style: solid;
}
.MuiDialog-paper .btn-info {
    color: #fff;
    border-color: #00b8d8;
    background-color: #00b8d8;
    box-shadow: none;
    font-size: 13px;
    padding: .5625rem 1rem;
    line-height: 1.125;
    border-radius: .25rem;
    height: 30.64px;
    text-transform: capitalize;
}
.MuiDialog-paper .btn-info:hover{
    color: #fff;
    background-color: #00a2bf !important;
    border-color: #00a2bf;
    box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,184,216,.25);
}
.MuiDialog-paper .btn-info:focus{
    box-shadow: 0 0 3px rgba(0,184,216,.15), 0 3px 15px rgba(0,184,216,.2), 0 2px 5px rgba(0,0,0,.1)
}
.MuiDialogTitle-root.share-header{
    padding: .9375rem 2.1875rem !important;
    text-align: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 0 !important;
}
.MuiDialogTitle-root.share-header h2{
    font-size: 1rem;
}
.MuiDialogContent-root.share-content{
    padding-top: 1.875rem !important;
    justify-content: center;
    display: flex;
}
.share-btn a {
    align-items: center;
    border: 1px solid;
    border-radius: .25rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    width: 129px;
}
.btn-outline-salmon {
    background-color: transparent;
    background-image: none;
    border-color: #ff4169;
    color: #ff4169;
}
.btn-outline-salmon:hover {
    color: #fff;
    background-color: #ff4169;
    border-color: #ff4169;
    box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(255,65,105,.25);
}
.cursor-pointer{
    cursor: pointer;
}
.MuiDialogContent-root.moreinfo-content{
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}
.MuiDialogContent-root.moreinfo-content ul{
    padding-left: 2.1875rem !important;
    padding-right: 2.1875rem !important;
}
.MuiDialogContent-root.moreinfo-content ul li{
    font-weight: 500;
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    line-height: 1.5rem;
}
.MuiDialogContent-root h6, 
.MuiDialogContent-root p{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
.MuiDialogContent-root.moreinfo-content ul:nth-child(2){
    padding-bottom: 1.875rem;
}
.MuiDialogContent-root.moreinfo-content .MuiDialogActions-root ul{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.MuiDialogContent-root.moreinfo-content .MuiDialogActions-root ul img{
    margin-right: 5px;
}
.apexcharts-tooltip {
    background: #ECEFF1;
    color: #212529;
    border: 2px solid #000000;
}
.apexcharts-tooltip .arrow_box{
      background-color: #000000;
}
.wallet-search-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
.wallet-search-container i{
    position: absolute;
    font-size: 1.5rem;
    top: .35rem;
    z-index: 999;
    left: 2%;
}
.wallet-search-container input{
    border-width: 1px;
    border-style: solid;
    font-size: .8125rem!important;
    font-weight: 300!important;
    height: auto!important;
    line-height: 1.5!important;
    outline: none;
    padding: .4375rem 10px .4375rem 40px!important;
    transition: box-shadow .25s cubic-bezier(.27,.01,.38,1.06),border .25s cubic-bezier(.27,.01,.38,1.06);
    width: 100%;
    border-radius: .25rem!important;
    box-shadow: none!important;
}
.modal-connect .MuiDialog-paper{
    min-width: fit-content;
    max-height: 100%;
    overflow: auto;
    background-color: rgb(255,255,255) !important;
    border-radius: 12px !important;
    margin: 10px;
    padding: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    max-width: 708px !important;
    width: 708px;
}
.modal-connect .MuiDialogContent-root{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    width: 100%;
    padding: 0 !important;
}
.modal-connect .connect-wrapper{
    flex-direction: column;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid rgba(195,195,195,0.14);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 8px;
}
.modal-connect .connect-container{
    align-items: center;
    background-color: rgb(255,255,255);
    border-radius: 12px;
    padding: 24px 16px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    align-items: center;
}
.modal-connect .connect-icon{
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 50%;
    overflow: visible;
    box-shadow: none;
    justify-content: center;
    align-items: center;
}
.modal-connect .connect-icon img{
    width: 100%;
    height: 100%;
}
.modal-connect .connect-name{
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0.5em;
    color: rgb(12,12,13);
    text-align: center;
}
.modal-connect .connect-description{
    width: 100%;
    font-size: 18px;
    margin: 0.333em 0;
    color: rgb(169,169,188);
    text-align: center;
}
.modal-connect .connect-wrapper:hover .connect-container{
    background-color: rgba(195,195,195,0.14);
}
